<a href="https://colab.research.google.com/github/mikeiohan/BEMOL/blob/master/desafio%20tecnico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

df = pd.read_excel(open('/content/gdrive/My Drive/dadosdesempenho.xlsx','rb'))


df

          Mês  Orcado  Realizado  dif
0     janeiro     330        240   90
1   fevereiro     290        280   10
2       março     230        200   30
3       abril     321        310   11
4        maio     283        230   53
5       junho     291        213   78
6       julho     193        239  -46
7      agosto     259        210   49
8    setembro     289        210   79
9     outubro     230        210   20
10   novembro     434        232  202
11   dezembro     421        213  208